@font-face{
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
}

@font-face{
font-family: "PT Sans";
font-style: normal;
font-weight: 700;
src: url("../fonts/ptsans-700.woff2") format("woff2");
font-display: swap;
}

html{
    height:100%;
}

body{
    margin:0;
    display:flex;
    flex-direction:column;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight:400;
    line-height: 21px;
    color:#333333;
    background-color:#f2f2f2;
}

.body-container {
    min-height: 100%;
    width:100%;
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
}
.button {
    font-family:"PT Sans", sans-serif;
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration:none;
    text-align:center;
}

.navigation-item .button {
    font-size: 16px;
    font-weight:700;
    line-height: 20px;
    background-color:#756257;
}

.page-header{
    color:#000000;
    margin:0;  
}

.page-header-container{
    height:70px;
    width:1200px;
    margin: 0 auto;
    display: flex;  
    background-color:#ffffff;
}

.logo {
    margin-left: 70px;
    margin-right: 30px;
}
.navigation-list {
    display:flex;
    justify-content:space-between;
    padding:0;
    width: 345px;
}

.navigation-user {
    display:flex;
    justify-content:space-between;
    margin-left:282px;
    padding:0;
    width:264px;
}

.navigation-link{
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color:#000000; 
    background-color:#ffffff;
    text-decoration:none;
    text-align:center;
}

.main-container{
    flex-grow:1;
}

.page-container{
    width:1200px;
    margin:0 auto;
}

.main-index{
    color:#333333;
}

h2 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase; 
}

h3 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase; 
}

.intro-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.intro-container img {
    display:block;
    margin:0 auto 82px;
}

.intro {
    background-color: #FFFFFF;
    margin-bottom: 80px;
}

.city-intro {
    text-align:center
}

.advantages-intro{
    text-align:center
}

.advantages-list {
    display:flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    text-align:center; 
}
  
.advantages-item {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    list-style:none;
    width: 400px;
}   
li .advantages-item {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

li.advantages-item:first-child{
    color: #FFFFFF;
    background-color:#FFFFFF;
    display:flex;
    flex-wrap:wrap;
    width:1200px;
}

li .true-city{
    background-color:#83b3d3;
    width:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li.advantages-item:nth-child(2) {
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width:1200px;
}

li .diablo-bridge {
    background-color:#83b3d3;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li.advantages-item:nth-child(3),
li.advantages-item:nth-child(5) {
    background-color:rgba(131, 179, 211, 0.12);
}

li.advantages-item:nth-child(4) {
    background-color:rgba(131, 179, 211, 0.2);
}

.advantages-subitem {
    color: #333333;
    width:400px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    list-style:none;
}

.advantages-subitem-list{
    display:flex;
    margin:0;
    padding:0;
    height:384px;
}
.advantages-subitem.hotel { 
    background-color:rgba(131, 179, 211, 0.12);
}

.advantages-subitem.souvenirs { 
    background-color:rgba(131, 179, 211, 0.12);
}

.hotel-search {
    display:flex;
    flex-direction:column;
    align-self:center;
    background-color:#FFFFFF;
    text-align: center;
    margin: 0 auto;
}

.hotel-search-title {
    margin-top: 91px;
    margin-bottom: 29px;
}

.hotel-search-form {
    margin-bottom: 56px;

}
.hotel-search .button {
    font-size: 20px;
    font-weight:700;
    line-height: 36px;
    text-transform:uppercase;
    background-color:#756257;
    width: 575px;
    border-radius:10px;
    padding: 15px 0;
}

.newsletter {
    text-align: center;
    color:#ffffff;
    background-image: url("../images/subscribe-form-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.button-newsletter-button {
    font-size:20px;
    font-weight:700;
    line-height:26px;
    color:#FFFFFF;
    background-color:#83b3d3;
    text-align:center;
    text-transform:uppercase;
    width: 200px;
}

.subscription-form-container{
    display:flex;
    margin:0 auto;
}

.footer-social-list {
    display:flex;
    justify-content: space-between;

}
.footer-social-item {
    list-style:none;
}

.footer-social-item a {
    color:#333333;
}

.contacts-phone {
    font-family: "PT Sans", sans-serif;
    font-size:40px; 
    font-weight:400;
    line-height:40px;
    color:#000000;
    text-align:center;
    text-transform:uppercase;
}

.footer-container {
    background-color:#FFFFFF;
    width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}